@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

button {
  @include button-size;
  background-color: $secondary-color;
  color: $primary-color-alt;
  border: none;
  border-radius: $border-radius;
  text-transform: uppercase;
}
