@use '../abstracts/variables' as *;

.editable-profile-property {
  position: relative;
  margin-bottom: $margin/2;

  textarea {
    width: calc(100% - 20px - 1em);
    height: 6em;
  }

  .button {
    position: absolute;
    top: 0;
    right: 0;
    
  }
}