@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

@mixin background-img {
  background: linear-gradient(0deg, #000000aa, #000000aa),
    url("../images/annie-spratt-QckxruozjRg-unsplash.png");
  background-size: cover;
  height: 100vh;
}
