@use '../abstracts/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  color: $primary-color-alt;
}

