@use '../abstracts/variables' as *;

@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;500;700&display=swap");

body {
  font-family: "Signika", sans-serif;
}

p,
a {
  font-weight: lighter;
  font-size: $body-text;
  margin: $margin;
}
a:hover {
  color: $secondary-color;
}

p {
  color: $primary-color-alt;
}

.bolder-body-text {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: $primary-color-alt;
}

.logo {
  color: $secondary-color;
  font-size: $logo;
}
