@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.pages-auth {
  padding: $padding * 2;
  height: 100vh;

  main {
    @include flex-column;
    height: 75%;

    align-items: center;
    text-align: center;
    justify-content: space-around;  

    input {
      color: $primary-color-alt;
      background-color: $primary-color;
    }

    button {
      @include button-size;
    }
  }

}
