@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.pages-chat {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: $padding;
  height: 90vh;

  .chat-contact-details {
    width: 100%;
    text-align: center;
    border-bottom: $border-1;

    p {
      margin: calc(#{$margin}/ 2);
    }

    .chat-avatar {
      width: fit-content;
      margin: 0 auto;
    }
  }

  .chat-messages {
    max-height: 48vh;

    ul {
      margin: 0;
      max-height: inherit;
      overflow: auto;
    }

    display: block;
    width: 100%;

    .message-container {
      @include rounded-corners;
      min-width: 25%;
      max-width: 75%;
      padding: calc(#{$padding}/ 2);
      background-color: $primary-color-alt;
      color: $primary-color;
      margin-top: $margin;
    }

    .outbound {
      margin-left: auto;

      .message-time-stamp {
        text-align: right;
        // padding-right: calc(#{$padding}*2);
      }
    }

    .inbound {
      margin-right: auto;
    }
  }
  .input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    .chat-input {
      @include rounded-corners;
      width: 95%;
      padding: $padding;
      margin: $margin;
    }
  }
}
