@use '../abstracts/variables' as *;
@use '../components/images' as *;

.pages-get-started {
  @include background-img;
  text-align: center;
  padding: 3rem;
}

.pages-get-started p {
  margin: $margin calc(#{$margin} / 2);
}

.pages-get-started button {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%);
}
