@use '../abstracts/variables' as *;
@use '../components/images' as *;
@use '../abstracts/mixins' as *;

.pages-home {
  @include background-img;
  @include flex-column;
  padding: $padding * 2;

  section {
    margin-bottom: $margin;

    li {
      margin-bottom: 0;
      ::before {
        content: "- ";
      }
    }
  }

  section:first-child {
    display: grid;
    grid-template: "avatar name";

    .editable-profile-property:nth-child(1) {
      grid-area: avatar;
      margin-bottom: $margin;
    }
    .editable-profile-property:nth-child(2) {
      grid-area: name;
      align-self: center;
      font-weight: bold;
      font-size: larger;
    }
    .editable-profile-property:nth-child(3) {
      font-weight: bold;
    }
    .editable-profile-property:nth-child(n + 3) {
      grid-column: span 2;
      margin-bottom: 0;
    }
  }

  h1 {
    text-align: center;
    padding: $padding 0;
  }
}

.pages-home-like-buttons {
  position: fixed;
  bottom: calc(67px + 2em);

  width: 100vw;

  display: flex;
  justify-content: space-around;
}
