@use '../abstracts/variables' as *;
@use '../components/images' as *;
@use '../abstracts/mixins' as *;

.pages-login {
  @include background-img;
  
  text-align: center;
  padding: 3rem;

  .pages-login-buttons {
    margin: $margin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;

    button {
      @include button-size;

      width: 60vw;
      height: 70px;
      padding: 1rem;
      margin: $margin 0;
    }
  }
}

> p {
  font-size: larger;
}
