@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.pages-matches {
  max-height: calc(100vh - 66px - 87px); //FIXME refactor to a mixin
  overflow-y: auto;

  main {
    @include flex-column;
  }

  main > h1,
  main > h2 {
    padding: $padding;
    text-align: center;
  }
}

.component-match {
  margin: 0.75rem;
  display: grid;
  grid-template-columns: 60px 2fr 1fr;
  align-items: center;
  justify-content: space-between;

  padding-bottom: $padding;
  border-bottom: $border-1;

  .matches-name {
    color: $secondary-color;
  }

  .matches-description {
    font-size: 0.85rem;
  }

  .matches-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .matches-button {
    padding: 0.5rem;
  }
}
