@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.pages-profile {
  @include flex-column;

  main {
    @include max-page-height-without-footer;

    section {
      padding: $padding;
      border-bottom: $border-1;
    }

    section > b {
      display: flex;
      justify-content: center;
      margin-bottom: $margin;
    }

    section:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;

      .editable-profile-property {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      input {
        text-align: center;
      }
    }

    a {
      margin: 0;
    }
  }

  input {
    display: inline-block;
  }

  h3 {
    padding: 0.75em 1.5em;
    line-height: 1.25;
    border-bottom: $border-1;
    cursor: pointer;
    transition: all 250ms;
  }

  h3:hover {
    transform: translate(1em, 0);
    color: $secondary-color;
  }
}
