@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.pages-register {
  padding: $padding * 2;

  main {
    @include flex-column;
    align-items: center;
    text-align: center;

    > * {
      margin: $margin 0;
    }

    > div {
      border-bottom: $border-1;
    }

    input {
      color: $primary-color-alt;
      background-color: $primary-color;
    }

    button {
      width: 250px;
    }
  }
}
