@use '../abstracts/variables' as *;

.pages-settings {
  h3 {
    padding: 0.75em 1.5em;
    border-bottom: $border-1;
    cursor: pointer;
    transition: all 250ms;
  }

  h3:hover {
    transform: translate(1em, 0);
    color: $secondary-color;
  }
}
