@use './variables' as *;

@mixin button-size {
  padding: 1em 5em;
  font-size: $button-text;
}

@mixin rounded-corners {
  border: none;
  border-radius: 8px;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin max-page-height-without-footer {
  max-height: calc(100vh - 66px);
}
