//colors
$primary-color:#2D302D;
$primary-color-alt: #FFFFFF;
$secondary-color: #EF7066;
$error-color: #FF0000;
$icon-color: #CCCCCC;
$border-color: #C4C4C4;
$footer-color: #c4c4c433;

//measures
$margin: 1em;
$padding: 1em;
$border-radius: 8px;

//font sizes
$logo: 3em;
$body-text: 1em;
$button-text: 1em;


//borders
$border-1: 1px solid $border-color;
$border-3: 3px solid $border-color;
$border-5: 5px solid $border-color;
$border-5-highlight: 5px solid $secondary-color;
