@use '../abstracts/variables' as *;

header {
  padding: $padding;
  color: $primary-color-alt;
  border-bottom: $border-3;

  h2 {
    display: inline-block;
    padding: 0 $padding 0.5em;
    border-bottom: $border-5-highlight;
  }
}