@use '../abstracts/variables' as *;

.components-navigation {
  height: 100%;

  * {
    margin: 0;
    padding: 0;
  }

  ul {
    margin: 0;
    padding: $padding;

    background: linear-gradient(0deg, #ffffff44, #ffffff44);

    display: flex;
    justify-content: space-around;

    li > a {
      display: flex;
      align-items: center;
    }
  }

}
